<% provide(:title, 'Welcome') %>
<div class="center jumbotron">
  <h1>Welcome to Beautiful Chat</h1>

  <h2>
    The ultimate chat application for your team
  </h2>
  <%= link_to "Login", login_path, class: "btn btn-lg btn-primary" %> or 
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

